<div class="card bg-dark text-light mt-5">
    <div class="card-header"></div>
    <div class="card-body">

        <form (ngSubmit)="create()">
            <div class="form-group row">

                <label for="title" class="col-form-label col-sm-12">{{ titulo }}</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="task.title" name="title">
                </div>

                <label for="exampleFormControlSelect1" class="col-sm-12">Estado</label>

                <div class="form-group col-sm-6">
                    <select class="form-control" name="done" [(ngModel)]="task.done">
                      <option value="false">Incompleto</option>
                      <option value="true">Completada</option>
                    </select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-outline-success" role="button">Crear</button>
                </div>
            </div>
        </form>

    </div>

</div>