<table class="table mt-2">
    <tr *ngFor="let task of tasks">
        <td class="text-left">
            <input (click)="update(!task.done)" type="checkbox" class="form-check-input">
            <a>
                <tr *ngIf="task!==editTask">{{task.title}}</tr>
                <input *ngIf="task==editTask" [(ngModel)]="task.title" (blur)="update()" (keyup.enter)="update()">
            </a>
        </td>
        <td class="text-right">
            <button type="button" class="btn btn-outline-danger" title="Borrar" (click)="delete(task)">Borrar</button>
        </td>
    </tr>
</table>

<div class="card card-body bg-light text-center">
    <span class="small">Clickea el item para editarlo</span>
</div>